.abilities {
  padding: 150px 0;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 15%;
    background: url('~images/content/bag.png') 0 100% / contain no-repeat;
    width: 40%;
    height: 100%;
  }
}

.abilities__title {
  width: 45%;
  margin-left: 250px;
}

.abilities__title-text {
  margin-bottom: 60px;
}

.abilities__title-desc {
  margin-bottom: 130px;
  font-weight: 600;
  opacity: 0.5;
}


