.abilities {
  margin: 9% 0;
  position: relative;

  &__container {
    align-items: center;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    left: 1%;
    bottom: 0;
    background: url("../images/content/bag.png") 0 100% / contain no-repeat;
    width: 40%;
    height: 100%;
  }
}

.abilities__title {
  width: 40%;
  margin-left: 9%;
  margin-bottom: 5%;
}

.abilities__title-text {
  margin-bottom: 8%;
}

