.feedback__title {
  margin-bottom: 5.5%;

  @include desktop {
    margin-bottom: 8%;
  }
}

.feedback__form-wrap {
  width: 60%;

  @include desktop {
    width: 81%;
    margin-bottom: 15%;
  }
}

.feedback {
  padding-bottom: 7.5%;

  @include desktop {
    padding-bottom: 0%;
  }
}
