.maincontent {
  position: relative;
}

.maincontent__mountain-bg {
  @include bgcover(top);
  background-image: url('../images/bg/Mountain-Baloon.png');
  clip-path: polygon(0% 0%, 0% 93%, 50% 100%, 100% 93%, 100% 0%);
}

.maincontent__budda-bg {
  @include bgcover(top);
  background-image: url('../images/bg/Budda.png');
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 7%);
}