.main-menu__list {
  display: flex;
  align-items: center;
}

.main-menu__link {
  padding: 0px 30px;
}

.header {
  .main-menu__link {
    padding: 45px 30px;

    &.active {
      border-bottom: 3px solid $hover-color;
    }
  }
}
