.maincontent {
  position: relative;
}

.maincontent__mountain-bg {
  @include bgcover;
  background-image: url('~images/bg/Mountain-Baloon.png');
}

.maincontent__budda-bg {
  @include bgcover;
  background-image: url('~images/bg/Budda.png');
}