.popup {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#424f5f, 0.9);
  z-index: 10;
}

.popup__inner {
  position: absolute;
  color: #2f3234;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 105px;
}

.popup__content {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}