.socials {
  display: flex;
  align-items: center;
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  transition: fill 0.3s;
  width: 27px;
}






