section.abilities#skills
  .container.abilities__container
    .abilities__title
      h3.abilities__title-text.subtitle Чем я могу быть полезен вам
      .abilities__title-desc.text
        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
    #skills-container
      