form.form
  .form__row
    label.form__block
      .form__block-title.text-op03 Введите ваше имя
      .form__field-wrap
        +icon('user', 'form__field-icon' )
        input.form__field(type="text" name="name" placeholder="Бойванов Сергей")
    label.form__block
      .form__block-title.text-op03 Введите ваш email
      .form__field-wrap 
        +icon('envelope', 'form__field-icon' )
        input.form__field(type="email" name="email" placeholder="loftschool@study.com")
  .form__row
    label.form__block
      .form__block-title.text-op03 Сообщение к письму 
      .form__field-wrap
        +icon('message', 'form__field-icon form__field-icon_message' )
        textarea.form__field.form__textarea(name="message" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
  .form__row
    button.form__btn(type='submit') Отправить