script(type='text/x-template')#reviews__slider-template
  .reviews__slider
    .reviews__slider-controls
      button(
        type='button'
        @click="previous()"
        :disabled="currentIndex === 0" 
        :class="{disabled: currentIndex === 0}"
        ).reviews__slider-btn.reviews__slider-btn_prev
      button(
        type='button'
        @click="next()"
        :disabled="currentIndex === reviews.length" 
        :class="{disabled: currentIndex === reviews.length}"
        ).reviews__slider-btn.reviews__slider-btn_next
    flickity(ref="flickity" :options="flickityOptions" @init="onInit") 
      li(v-for="review in reviews" :key="review.id").reviews__slider-item
        review(
          :review="review"
        )
      
script(type='text/x-template')#review
  .reviews__slider-content
    .reviews__slider-text.text
      p {{review.text}}
    .reviews__slider-user
      .reviews__slider-avatar
        img(:src="remotePhotoPath", alt='avatar').reviews__slider-avatar-pic
      .reviews__slider-user-desc
        .reviews__slider-user-name {{review.author}}
        .reviews__slider-user-position.text-op03 {{review.occ}}