section.reviews
  .container.container_reviews
    .reviews__slider-controls-wrap
      h4.reviews__title.title Что обо мне говорят
      .reviews__slider-controls
        button(type='button').reviews__btn.reviews__btn_prev
        button(type='button').reviews__btn.reviews__btn_next
    .reviews__slider
      ul.reviews__list
        - var feedbackItems = [{text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!', picture: 'content/reviews1.png', name: 'Ковальчук Дмитрий', position: 'Основатель Loftschool'}, {text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах', picture: 'content/reviews2.png', name: 'Владимир Сабанцев', position: 'Преподаватель'}]
        - for (var i=0; i<feedbackItems.length; i++)
          li.reviews__item
            .reviews__text
              p= feedbackItems[i].text
            .reviews__user
              .reviews__avatar
                +image(feedbackItems[i].picture, 'reviews__avatar-pic')
              .reviews__user-desc
                .reviews__user-name= feedbackItems[i].name
                .reviews__user-position= feedbackItems[i].position
            
