ul.skills
  -
    var skills = [
      {
        skillsType: 'Front-end',
        skills: {
          'HTML5': 25,
          'CSS3': 15,
          'Javascript': 75,
          'Jquery и Vue.js': 25
        }
      },
      {
        skillsType: 'Workflow',
        skills: {
          'GIT': 15,
          'Terminal': 25,
          'Gulp': 50,
          'Webpack': 40
        }
      }
    ]
  each item in skills
      li.skills__row
        h4.skills__title= item.skillsType
        ul.skills__list
          each key, prop in item.skills
            - var percent = (251/100)*(100-key)
              li.skills__item
                .skills__item-text= prop
                svg.skills-circle(viewBox='0 0 100 100', preserveAspectRatio='none')
                  circle.circle.circle_under(cx='50', cy='50', r='40')
                  circle.circle.circle_above(cx='50', cy='50', r='40', stroke='url(#gradient)', stroke-dashoffset=`${percent}`)
                  linearGradient(id='gradient', x1='0%', y1='0%', x2='100%', y2='0%')
                    stop(offset='0%', stop-color='#ad00ed')
                    stop(offset='100%', stop-color='#5500f2')