script(type='text/x-template')#slider-template
  .slider(v-if="works.length > 0")
    
    display(
      :works="works"
      :currentWork="currentWork"
      @slide="handleSlide"
      :currentIndex="currentIndex"
    )
    description(
      :currentWork="currentWork"
    )

script(type='text/x-template')#slider-display
  .slider__display(:data-slide="currentIndex + 1")
    .slider__display-full-img
      img(:src="currentWork.photo", alt='slider__display').slider__display-pic
    previews(
      :works="works"
      :currentWork="currentWork"
      :currentIndex="currentIndex"
      @slide="handleSlide"
    )
    btns(
      :worksLength="works.length"
      :currentIndex="currentIndex"
      @slide="handleSlide"
    )

script(type='text/x-template')#slider-previews
  .slider__preview-wrap
    ul.slider__preview(:style="{transform: `translateY(-${translate}%)`}")
      li.slider__preview-item(v-for="work, index in works" :key="work.id")
        button.slider__preview-button(@click="$emit('slide', index)" :class="{active: work.id === currentWork.id}" type='button')
          img(:src="work.photo", alt='slider__preview').slider__preview-pic


script(type='text/x-template')#slider-btn
  .slider__controls
    button(@click="$emit('slide', 'next')", type='button', :class="{disabled: currentIndex >= (worksLength - 1)}").slider__btn.slider__btn_next
    button(@click="$emit('slide', 'prev')", type='button', :class="{disabled: currentIndex <= 0 }").slider__btn.slider__btn_prev

script(type='text/x-template')#slider-desc
  .slider__desc

    tags(
      :tags="tagsArray"
    )
    .slider__title.subtitle {{currentWork.title}}
    .slider__text.text 
      p {{currentWork.description}}
    a(:href="currentWork.link").slider__link Посмотреть сайт

script(type='text/x-template')#slider-tags
  ul.slider__tags
    li.slider__tags-item(v-for="tag in tags") {{tag}}




