section.welcome.fullscreen-section
  .container.container_welcome
    .welcome__title
      h2.welcome__title-text Личный сайт веб разработчика
      h1.welcome__title-name Сергей Бойванов
    a.welcome__scroll(href='#') Скролл