.widget
  .widget__controls
    button(type='button').widget__btn.widget__btn_prev
    button(type='button').widget__btn.widget__btn_next
  ul.widget__list
    -
      var feedbackItems = [
        {
          text: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!',
          picture: 'content/reviews1.png',
          name: 'Ковальчук Дмитрий',
          position: 'Основатель Loftschool'
        },
        {
          text: 'Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах',
          picture: 'content/reviews2.png',
          name: 'Владимир Сабанцев',
          position: 'Преподаватель'
        }
      ]
    - for (var i=0; i<feedbackItems.length; i++)
      li.widget__item
        .widget__text.text
          p= feedbackItems[i].text
        .widget__user
          .widget__avatar
            +image(feedbackItems[i].picture, 'widget__avatar-pic', 'widget-avatar')
          .widget__user-desc
            .widget__user-name= feedbackItems[i].name
            .widget__user-position.text-op03= feedbackItems[i].position