script(type='text/x-template')#reviews-template
  .widget
    .widget__controls
      button(@click="previous()" type='button').widget__btn.widget__btn_prev
      button(@click="next()" type='button').widget__btn.widget__btn_next
    flickity(ref="flickity" :options="flickityOptions") 
      li(v-for="review in reviews" :key="review.id").widget__item
        review(
          :review="review"
        )
      
script(type='text/x-template')#review
  .widget__content
    .widget__text.text
      p {{review.text}}
    .widget__user
      .widget__avatar
        img(:src="review.picture", alt='widget-avatar').widget__avatar-pic
      .widget__user-desc
        .widget__user-name {{review.name}}
        .widget__user-position.text-op03 {{review.position}}